body {
    background-color: red;
}
img {
    opacity: 0.1;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 30%;
    left: 10%;

}
  
.sindan {
   position: absolute;
   top: 40%;
   left: 650px;
}
.henkan {
    position: absolute;
    top: 300px;
    left: 950px;
}
.text {
    position: absolute;
    top: 303px;
    left: 650px;
    color: red;
    background-color: black;
}

